<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- logo de pesta;a -->
    <title>TAKOPON</title>
    <link rel="shortcut icon" href="../img/Logo.png">
    <!-- bs link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <!-- css -->
    <link rel="stylesheet" href="../style/style.css">
</head>

<body>

    <header class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img class="Logo" src="../img/logo 3.png" alt="neonwok">
                <h1 class="Slogan">Compartiendo sabores</h1>
            </a>
            <button class="navbar-toggler navbar-light bg-light" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <nav class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto fuentes">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="../index.html" style="color: #fff">Quienes
                            Somos!</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="cocineros.html" style="color: #fff"> Cocineros! </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="sucursales.html" style="color: #fff"> Sucursales!</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="tienda.html" style="color: #fff"> Tienda! </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contactanos.html" style="color: #fff"> Contactanos! </a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="allbut">
        <h2 class="name5">Sucursales!</h2>
        <div class="all">
            <div class="Maps">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d757.2757954940649!2d-100.95125760462942!3d25.463959065609092!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x868813d358f03c43%3A0xf6823e80f61e8d43!2sMatsumoto!5e0!3m2!1ses-419!2smx!4v1689394285147!5m2!1ses-419!2smx"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>
            <div class="Restaurant">
                <ul>
                    <li class="location"><a href="">Ubicacion de sucursal 1</a></li>
                    <li class="location"><a href="">Ubicacion de sucursal 2</a></li>
                    <li class="location"><a href="">Ubicacion de sucursal 3</a></li>
                    <li class="location"><a href="">Ubicacion de sucursal 4</a></li>
                </ul>
            </div>
        </div>
    </main>

    <footer class="footer0">
        <div class="footer1">
            <p>En esta pagina se utilizan cookies y tecnologias similares para mejorar tu
                experiencia en este sitio web!
                Derechos reservados para pulpoyakis</p>
        </div>
    </footer>
    <!-- scrip bs -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>

</body>

</html>