<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- logo de pesta;a -->
    <title>TAKOPON</title>
    <link rel="shortcut icon" href="../img/Logo.png">
    <!-- bs link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <!-- css -->
    <link rel="stylesheet" href="../style/style.css">
</head>

<body>

    <header class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img class="Logo" src="../img/logo 3.png" alt="neonwok">
                <h1 class="Slogan">Compartiendo sabores</h1>
            </a>
            <button class="navbar-toggler navbar-light bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
            <nav class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto fuentes">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="../index.html" style="color: #fff" >Quienes Somos!</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="cocineros.html" style="color: #fff"> Cocineros! </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="sucursales.html" style="color: #fff"> Sucursales!</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="tienda.html" style="color: #fff"> Tienda! </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contactanos.html" style="color: #fff"> Contactanos! </a>
                    </li>
                  
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div class="container">
            <div class="product-grid">
                <div class=" card stacked featured">
                    <img src="../img/katsudong sauce.jpg" alt="katsudong sauce" class="card__img">
                    <div class="card__content">
                        <h2 class="card__title"> Katsudong sauce</h2>
                        <p class="card__price"> $35 </p>
                        <p class="card__description"> acclaimed the best katsudong sauce</p>
                    </div>
                </div>
                <div class=" card stacked">
                    <img src="../img/worcestershire sauce.png" alt="owrcestershire sauce" class="card__img">
                    <div class="card__content">
                        <h2 class="card__title"> Worcestershire sauce</h2>
                        <p class="card__price"> $19 </p>
                        <p class="card__description"> Seefood sauce for all your oriental recipe</p>
                    </div>
                </div>
                <div class=" card stacked">
                    <img src="../img/taoyaki pan.jpg" alt="takoyaki pan" class="card__img">
                    <div class="card__content">
                        <h2 class="card__title">Takoyaki pan</h2>
                        <p class="card__price"> $120 </p>
                        <p class="card__description"> Make your own takoyaki with this pan</p>
                    </div>
                </div>
                <div class=" card stacked">
                    <img src="../img/takoyaki sauce.jpg" alt="takoyaki sauce" class="card__img">
                    <div class="card__content">
                        <h2 class="card__title"> Takoyaki sauce</h2>
                        <p class="card__price"> $18 </p>
                        <p class="card__description"> You can't have enough of this sauce </p>
                    </div>
                </div>
                <div class=" card stacked">
                    <img src="../img/takoyaki powder.jpg" alt="takoyaki powder" class="card__img">
                    <div class="card__content">
                        <h2 class="card__title"> Takoyaki powder</h2>
                        <p class="card__price"> $22 </p>
                        <p class="card__description"> How are you suppose to make takoyaki without the powder?</p>
                    </div>
                </div>
                <div class=" card stacked">
                    <img src="../img/porkbelly.jpg" alt="porkbelly" class="card__img">
                    <div class="card__content">
                        <h2 class="card__title">Porkbelly</h2>
                        <p class="card__price"> $33 </p>
                        <p class="card__description">Some porkbelly for your ramen?</p>
                    </div>
                </div>  
                <div class=" card stacked">
                    <img src="../img/panko.webp" alt="breadcrumbs" class="card__img">
                    <div class="card__content">
                        <h2 class="card__title"> Panko </h2>
                        <p class="card__price"> $18 </p>
                        <p class="card__description"> Breadcrubs japanese style</p>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="footer0">

        <div class="footer1">    
            <p>En esta pagina se utilizan cookies y tecnologias similares para mejorar tu
                experiencia en este sitio web!
                Derechos reservados para pulpoyakis</p>
        </div>
    
    
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
    
</body>
</html>